@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


:root {
    --primary: #000;
    --secondary: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    color: var(--secondary);
    display: flex;
    overflow-x:hidden;
    background-color: var(--primary);
}
h1 {
    font-size: 50px;
}

p {
    padding: 0px; 
    margin: 0px;
    font-size: 25px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    font-size: 40px;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 25px;
    margin-bottom: 10px;
    position: relative;
}

/* add animated underline under sidebar ul li */

.sidebar ul li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--secondary);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-in-out;
}

.sidebar ul li:hover::before {
    transform: scaleX(1);
}


.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

/* line that separates sidebar and main content */
.line {
    width: 1rem;
    background-color: var(--primary);
    margin-left: 220px;
    /* position: relative; */
    
}

.loader {
    top: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 20px;
    background-color: var(--secondary);
    animation: line-animation 3s ease-in-out forwards;
}

@keyframes line-animation {
    0% {
        height: 0;
    }
    100% {
        height: 100vh;
    }
}
.main-content {
    background-color: var(--primary);
    padding: 2rem;

}

.section {
    height: 768px;
}

.section h2 {
    padding: 2rem 0 2rem 0;
    margin: 0rem;
    position: sticky;
    top: 0rem;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: var(--primary);
    
}

/* add circle in before element of Home */
.page-heading {
    position: relative;
}

/* add a circle before page-heading and position it over the .line */
.page-heading::before {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--secondary);
    border-radius: 50%;
    top: 0;
    left: -5px;

}


/* Home styling */

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}   
.home-content > .text {
    flex: 2;
}

.home-content > .image {
    flex: 1;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.home-content > .image > img {
    width: 80%;
    height: 100%;
    object-fit: cover;

}

.card {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgb(99, 99, 99) , inset 2px 4px 5px rgb(177, 176, 176);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
}