@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --primary:#131313;
    --secondary: #222222;
    --tertiary: #ec5e09;
    --white: #ffffff;
    
}
html {
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}



li {
    font-size: 20px;
}
body, html {
    padding: 0px;
    margin: 0px;
    background-color: var(--primary);
    color: var(--white);
    height: 100%;
}

.clr-tertiary {
    color: var(--tertiary);
}

.header-font {
    font-family: 'Satisfy', cursive;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr auto;
}

.navbar {
    background-color: var(--secondary);
    grid-column: 1/ 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.navbar-logo-h1 {
    /* border: 5px solid var(--tertiary); */
    position: relative;
    padding: 15px 35px 15px 35px;
    font-family: 'Satisfy', cursive;
    transition: color 500ms ease;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.navbar-logo-h1::before, .navbar-logo-h1::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 25px;
    --thickness: 7px;
    transition: all 500ms ease;
}

/* top left element */
.navbar-logo-h1::before {   
    left: 0;
    top: 0;
    border-left: var(--thickness) solid var(--tertiary);
    border-top: var(--thickness) solid var(--tertiary);
}

/* bottom right element */
.navbar-logo-h1::after {   
    right: 0;
    bottom: 0;
    border-right: var(--thickness) solid var(--tertiary);
    border-bottom: var(--thickness) solid var(--tertiary);
}

/* logo hover animation <START>*/
.navbar-logo-h1:hover:after {
    border-color: var(--white);
    transform: translateY(-35px) rotate(-90deg);
}

.navbar-logo-h1:hover:before {
    border-color: var(--white);
    transform: translateY(30px) rotate(-90deg);
}

.navbar-logo-h1:hover {
    color: var(--tertiary)
}
/* logo hover animation <END> */

.navbar-list {
    flex: 2;
    list-style: none;
    font-weight: 400;
    width: 100%;
}
.navbar-list > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.navbar-items {
    position: relative;
    transition: color 200ms ease, background-color 200ms linear;
    cursor: pointer;
    z-index: 2;
}
.navbar-items > * {
    padding-left: 10px;
}
.navbar-items:hover {
    color: var(--tertiary);
}


.navbar-items::after {
    content: '';
    position: absolute;
    background-color: var(--primary);
    width: 0;
    height: 100%;
    right: 0;
    transition: width 250ms ease-in-out;
    z-index: -1;
}

.navbar-items:hover:after {
    width: 100%;

}


.main {
    background-color: var(--primary);
    grid-column: 2 / 6;
    display: flex;
    justify-content: center;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-info {
    flex: 3;
    padding-left: 30px;
}

.home-info > *{
    margin-bottom: 20px;
}

.photo {
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo-container {
    width: 70%;
    height: 60%;
    position: relative;
    padding: 30px;
}
.photo-container::before, .photo-container::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    --thickness: 10px;
    transition: all 500ms ease;
}
/* top left element */
.photo-container::before {   
    left: 0;
    top: 0;
    border-left: var(--thickness) solid var(--tertiary);
    border-top: var(--thickness) solid var(--tertiary);
}

/* bottom right element */
.photo-container::after {   
    right: 0;
    bottom: 0;
    border-right: var(--thickness) solid var(--tertiary);
    border-bottom: var(--thickness) solid var(--tertiary);
}

.photo-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
button {
    border: none;
    padding: 15px 25px 15px 25px;
    background-color: var(--tertiary);
    color: var(--white);
    font-size: 16px;
    transition: background-color 200ms ease, color 200ms ease;
}

button:hover {
    background-color: var(--white);
    color: var(--tertiary);
    cursor: pointer;
}
.about, .services, .skills, .projects, .contact {
    display: none;
}

/* remove default padding of elements */
h1, h2, span, ul, p {
    padding : 0px;
    margin: 0px;
}


/* Class to show border for analysis */
.show-border{
    border: 2px solid green;
}
