
.d-flex {
    display: flex;
}

/* to create two equally sized flex child */
.left {
    flex: 1;
}

.right {
    flex: 1;
}
/* justify content classes */
.justify-content-start {
    justify-content:start;
}

.justify-content-center {
    justify-content:center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

/* align items classes */
.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.align-items-space-between {
    align-items: space-between;
}
/* change flex direction to row */

.d-flex-row-reverse {
    flex-direction: row-reverse;
}

.d-flex-row {
    flex-direction: row;
}
.d-flex-column {
    flex-direction: column;
}

.d-flex-column-reverse{
    flex-direction: row-reverse;
}

/* hide x overflow */
.overflow-x-hidden {
    overflow-x: hidden;
}

/* margin classes */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-2 {
    margin: .5rem .5rem;
}

.m-3 {
    margin: 1rem 1rem;
}

.m-5 {
    margin: 2rem 2rem;
}

.mx-3 {
    margin: 0rem 1rem;
}

.my-3 {
    margin: 1rem 0rem;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top:2rem;
}

.mt-5 {
    margin-top: 7rem;
}
.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

/* padding classes */
.p-1 {
    padding: 1rem;
}

/* background themes */
.bg-dark {
    background-color: #000000;
}

.bg-light {
    background-color: #EFF1F3;
}

 /* CSS for navbar */
.p-2-interior > * {
    padding: 0rem 1rem;
}

.m-2-interior > * {
    margin: 0rem 1rem;
}

/* text center */

.text-center {
    text-align: center;
}