/* Hide scrollbars for all browsers */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ffffff;     
    --secondary: #000000;   
    --tertiary: #89d957;
    --quaternary: #c9e265;
    --text: #000000;
    --text-dark: rgba(0, 0, 0, 0.7);        
    --border: #000000;      
    --foreground: #ffffff;   
    --background: #000000;
    
    /* Transparent variations for overlays and effects */
    --primary-transparent-05: rgba(255, 255, 255, 0.05);
    --primary-transparent-10: rgba(255, 255, 255, 0.1);
    --primary-transparent-20: rgba(255, 255, 255, 0.2);
    --primary-transparent-30: rgba(255, 255, 255, 0.3);
    --primary-transparent-80: rgba(255, 255, 255, 0.8);
    --secondary-transparent-05: rgba(0, 0, 0, 0.05);
    --secondary-transparent-10: rgba(0, 0, 0, 0.1); 
    --secondary-transparent-12: rgba(0, 0, 0, 0.12);
    --secondary-transparent-20: rgba(0, 0, 0, 0.2);
    --tertiary-transparent-10: rgba(137, 217, 87, 0.1);
    --tertiary-transparent-20: rgba(137, 217, 87, 0.2);
  }
  
.dark {
  --primary: #000000;
  --secondary: #ffffff;
  --tertiary: #89d957;
  --quaternary: #c9e265;
  --text: #ffffff;
  --text-dark: rgba(255, 255, 255, 0.7);
  --border: rgba(255, 255, 255, 0.2);
  --foreground: #ffffff;
  --background: #000000;
  
  /* Transparent variations for dark mode */
  --primary-transparent-05: rgba(0, 0, 0, 0.05);
  --primary-transparent-10: rgba(0, 0, 0, 0.1);
  --primary-transparent-20: rgba(0, 0, 0, 0.2);
  --primary-transparent-30: rgba(0, 0, 0, 0.3);
  --primary-transparent-80: rgba(0, 0, 0, 0.8);
  --secondary-transparent-05: rgba(255, 255, 255, 0.05);
  --secondary-transparent-10: rgba(255, 255, 255, 0.1);
  --secondary-transparent-12: rgba(255, 255, 255, 0.12);
  --secondary-transparent-20: rgba(255, 255, 255, 0.2);
  --tertiary-transparent-10: rgba(137, 217, 87, 0.1);
  --tertiary-transparent-20: rgba(137, 217, 87, 0.2);
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  p, li {
    font-size: 0.875rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  p, li {
    font-size: 0.875rem;
  }
}

